<h1>Getting Started with Ruby</h1>

<script language="javascript">
  function show(){
  var date = new Date(); //日期对象
  var now = "";
  var hours,minutes;
  hours = date.getHours();
  minutes = date.getMinutes();
  now = date.getFullYear()+"/";
  now += (date.getMonth()+1)+"/";
  now += date.getDate()+"  ";
  now += ((hours > 12) ? hours - 12 : hours) + " :";
  now += ((minutes < 10) ? " 0" : " ") + minutes + " 分";
  now += (hours >= 12) ? "PM" : "AM";
  document.getElementById("nowDiv").innerHTML = now; //div的html是now这个字符串
  setTimeout("show()",1000); //设置过1000毫秒就是1秒，调用show方法
  }

</script>
<body onload="show()">
<div id="nowDiv"></div>
</body
<p>

</p>
